
<div class="container">
        <div class ="row mt-4">
            <div class="col-4"> 
                <h6>Daily forecast for {{weather.city}}:</h6>
                <p>Weather summary: {{weather.summary}}</p>
                <p>The temperature is: {{weather.temperature}}</p>
                <p>The wind speed is: {{weather.wind}}</p>
            </div>

        </div>
    </div> 